*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  font-family: 'Reggae One', cursive;
}
header{
  height:10vh;
  width:100vw;
  margin-top:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  flex:0;
  text-align: right;
  height:100%;
  }
.logo img{
  width:80px;
  height:100%;
}
.logo-name{
  font-size:25px;
  font-weight: 800;
}
.logo-name span{
  color:rgb(40, 40, 253)
}
.logo-name{
  color:rgb(228, 19, 19);
}
.Alllevels{
  margin-top:50px;
  display: flex;
  justify-content: space-between;
}
.Alllevels a{
  display: block;
  text-decoration: none;
  color:black;
  width:30%;
}


.level img{
  width:100%;
  
}
.level-des{
  display: flex;
  height:5vh;
  align-items: center;
  justify-content: space-between;
}
.level-des p{
height: 100%;

}
.characters{
  height: 100%;
  text-align: right;
  flex:0.9;
  display:flex;
  justify-content: flex-end;
}
.character{
  height: 100%;
  margin-right:10px;
  flex:0;
  text-align: right;
}
.character img{
  height: 100%;
  width:40px;
}


@media screen and (max-width:730px){
  .Alllevels{
flex-direction: column;
align-items: center;
  }
  .Alllevels a{
    width:90%;
    margin-bottom: 30px;
  }
}
.level-header{
  display: flex;
}
.game-characters{
  height:5vh;
  width:100vw;
  flex:1;
}
.return-button{
  flex:0.4;
text-align: right;
}
.return-button button{
  outline: none;
  padding:10px 5px;
  border:none;
  background-color: rgb(245, 45, 88);
  border-radius: 5px;
  color:white;
  font-size: 15px;
}
.game-characters img{
  height: 100%;
}

.game-grid{
  margin-top:10px;
  position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.game-image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.game-grid img{
  width:100%;
  display: block;
}
.dropdown{
  display: none;
  position: absolute;
  top:0;
  left:0;
  z-index:5;
  background-color: white;
  border-radius: 5px;

}
.dropdown-name{
  display: flex;
  flex-direction: column;
}
.dropdown a{
  color:black;
  display: block;
  text-decoration: none;
}
.popup{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-display{
  border-bottom: 1px solid crimson;
}
.time-display span{
  color:crimson;
}
.popup-inner{
  position:relative;
  padding:32px;
  width:90%;
  max-width:640px;
  height:60vh;
  background-color: white;
  border-radius: 20px;
}
.popup-inner form{
  text-align: center;
  margin-top:6%;
}
form h1{
  margin-bottom: 5px;
}
form input[type="text"]{
  width:50%;
  outline:none;
  border:none;
  border-bottom: 1px solid crimson;
  padding:6px;
  margin-bottom: 10px;
  font-size:20px;
}
form input[type="submit"]{
  margin-top:2%;
  margin-right:40px;
  border:none;
  outline:none;
  background-color: crimson;
  color:white;
  padding:10px;
  border-radius: 5px;
}
.cancel{
  margin-top:2%;
  margin-right:10px;
  border:none;
  outline:none;
  background-color: white;
  color:crimson;
  padding:10px;
  border-radius: 5px;
}
.LeaderBoard{
  width:100vw;
  margin-top:80px;
}
.level-board{
  width:100vw;
  display: flex;
  justify-content: space-around;
  padding:40px;
}
.level1-board,.level2-board,.level3-board{
  flex:0 1 25vw;
}
.name{
  color:crimson
}
.time{
  color:rgb(44, 121, 209);
}
@media screen and (max-width:672px){
  .level-board{
    flex-direction: column;
    align-items: center;
  }
  .level1-board,.level2-board,.level3-board{
    flex:0 1 90%;
    width:90%;
  }
  .top-players{
    width:100%;
  }
}

.player{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(190, 182, 182);
  margin-bottom: 10px;
}
.level-board h1{
  margin-bottom: 20px;
  border-bottom:1px solid rgb(44, 121, 209);;
}
.LeaderBoard-header h1{
  color:crimson
}
.LeaderBoard-header h1 span{
  color:rgb(44, 121, 209);
}